.photoes{
    margin-bottom: 40px;
    width: 100%;
}
.photo-header{
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.photo-header img{
    margin-top: 12px;
    width: 16px;
    height: 16px;
}
.photo-header a{
    text-decoration: none;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #052E40;
    margin: 0 16px;
}
.photo-content{
    margin: 0;
    padding: 0;
    width: 1120px;
    margin: 0 auto;
}
.photo-upper{
    display: flex;
    margin-bottom: 40px;
}
.photo-2, .photo-5{
    margin: 0 32px;
}
.photo-1, .photo-2, .photo-5, .photo-6{
    width: 256px;
    height: 200px;
}
.photo-3, .photo-4{
    width: 544px;
    height: 200px;
}
.photo-bottom{
    display: flex;
    margin-bottom: 60px;
}
.photo-content img:hover{
    transform: scale(1.2);
    transition: all .25s ease;
}
/*
.photo-content button{
    position: absolute;
    right: 110px;
    background-color: blue; 
    width:40px; 
    height:40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.photo-content button img:hover{
    transform: none;
}
*/
@media screen and (min-width: 1440px){
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 12px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        width: 1120px;
        margin: 0 auto;
    }
    .photo-upper{
        display: flex;
        margin-bottom: 40px;
    }
    .photo-2, .photo-5{
        margin: 0 32px;
    }
    .photo-1, .photo-2, .photo-5, .photo-6{
        width: 256px;
        height: 200px;
    }
    .photo-3, .photo-4{
        width: 544px;
        height: 200px;
    }
    .photo-bottom{
        display: flex;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 110px;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.2);
        transition: all .25s ease;
    }
}
@media screen and (min-width: 1200.1px) and (max-width: 1440px) {
.photoes{
    margin-bottom: 180px;
    width: 100%;
}
.photo-header{
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.photo-header img{
    margin-top: 12px;
    width: 16px;
    height: 16px;
}
.photo-header a{
    text-decoration: none;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #052E40;
    margin: 0 16px;
}
.photo-content{
    margin: 0;
    padding: 0;
    width: 1120px;
    margin: 0 auto;
}
.photo-upper{
    display: flex;
    margin-bottom: 40px;
}
.photo-2, .photo-5{
    margin: 0 32px;
}
.photo-1, .photo-2, .photo-5, .photo-6{
    width: 256px;
    height: 200px;
}
.photo-3, .photo-4{
    width: 544px;
    height: 200px;
}
.photo-bottom{
    display: flex;
    margin-bottom: 60px;
}
.photo-content button{
    position: absolute;
    right: 110px;
    background-color: blue; 
    width:40px; 
    height:40px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.photo-content img:hover{
    transform: scale(1.2);
    transition: all .25s ease;
}
}
@media screen and (min-width: 992.1px) and (max-width: 1200px) {
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 12px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 970px;
    }
    .photo-upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .photo-1, .photo-2, .photo-5, .photo-6{
        width: 240px;
    }
 
    .photo-1 img, .photo-2 img,.photo-3 img, .photo-4 img, .photo-5 img, .photo-6 img{
        width: 100%;
    }

    .photo-3, .photo-4{
        width: 480px;
    }
    .photo-bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 10%;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.1);
        transition: all .25s ease;
    }
}
@media screen and (min-width: 778.1px) and (max-width: 992px) {
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 12px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 750px;
    }
    .photo-upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .photo-1, .photo-2, .photo-5, .photo-6{
        width: 180px;
        height: 136px;
    }
 
    .photo-1 img, .photo-2 img,.photo-3 img, .photo-4 img, .photo-5 img, .photo-6 img{
        width: 100%;
    }

    .photo-3, .photo-4{
        padding-top: 3px;
        width: 360px;
        height: 136px;
    }
    .photo-bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 10%;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.1);
        transition: all .25s ease;
    }
}
@media screen and (min-width: 576.1px) and (max-width: 778px) {
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 12px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 540px;
    }
    .photo-upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6{
        width: 170px;
        height: 125px;
    }
 
    .photo-1 img, .photo-2 img,.photo-3 img, .photo-4 img, .photo-5 img, .photo-6 img{
        width: 100%;
        height: 100%;
    }

    .photo-3, .photo-4{
        height: 125px;
    }
    .photo-bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 10%;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.1);
        transition: all .25s ease;
    }
}
@media screen and (min-width: 480.1px) and (max-width: 576px) {
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 12px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 450px;
    }
    .photo-upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6{
        width: 140px;
        height: 120px;
    }
 
    .photo-1 img, .photo-2 img,.photo-3 img, .photo-4 img, .photo-5 img, .photo-6 img{
        width: 100%;
        height: 100%;
    }

    .photo-3, .photo-4{
        height: 120px;
    }
    .photo-bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 10%;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.3);
        transition: all .25s ease;
    }
}
@media screen and (min-width: 320.1px) and (max-width: 480px) {
    .photoes{
        margin-bottom: 180px;
        width: 100%;
    }
    .photo-header{
        width: 100%;
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .photo-header img{
        margin-top: 10px;
        width: 16px;
        height: 16px;
    }
    .photo-header a{
        text-decoration: none;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        color: #052E40;
        margin: 0 16px;
    }
    .photo-content{
        margin: 0;
        padding: 0;
        margin: 0 auto;
        width: 300px;
    }
    .photo-upper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6{
        width: 100px;
        height: 80px;
    }
 
    .photo-1 img, .photo-2 img,.photo-3 img, .photo-4 img, .photo-5 img, .photo-6 img{
        width: 100%;
        height: 100%;
    }

    .photo-3, .photo-4{
        height: 80px;
    }
    .photo-bottom{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .photo-content button{
        position: absolute;
        right: 10%;
        background-color: blue; 
        width:40px; 
        height:40px;
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .photo-content img:hover{
        transform: scale(1.3);
        transition: all .25s ease;
    }
}